
:host{
    display: block;
    position: relative;
    padding: 20px 12px;
    background-color:#000000;
}



.main-menu-list{
    display: grid;
    grid-gap: 8px;
}

.menu-item{
    padding: 16px  12px;
    cursor: pointer;
    border: none;
    background: none;
    color:white;
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    text-decoration: none;
}
.menu-item:hover{
    color: #AE7AFF;
    background-color:#2b2929;
}

.menu-item svg{
    width: 14px;
    height: 16px;
    color: white;
}

.sidebar__footer{
    position: absolute;
    bottom: 20px;
    width: calc(100% - 25px);
    background-color: #2b2929;
    border-radius:4px ;
    padding: 4px 16px;
    display: grid;
    grid-template-columns: 32px 1fr 14px;
    grid-gap: 24px;
    align-items: center;
    margin-top: 20px;

}

.sidebar__footer img {
    width: 40px;
    height: 40px;
}

.username-text{
    color:#AE7AFF;
    font-weight: 700;
}


.settings-btn svg{
    width: 13px;
    height: 13px;
    color: #AE7AFF;
}

.settings-btn{
    
}